//colors
$backgroundColor: #F8F8F8;
$primaryColor: #F4E041;
$primaryBrightColor: #FFE302;
$secondaryColor: #00BDD3;

//fonts
$mainFont: 'Nunito', sans-serif;

//breakpoints
$breakpoint_s: 360px;
$breakpoint_m: 768px;
$breakpoint_l: 1024px;
$breakpoint_xl: 2560px;