.card-container {
    padding: 20px;
    background-color: $backgroundWhite;
    @extend %flexColumn;    
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    max-width: 370px;
    border-radius: 10px;
    &__info {
        width: 100%;
    }
}