.tooltip {
    @extend %bodyText;
    position: fixed;
    background-color: black;
    padding: 3px 16px;
    border-radius: 3px;
    color: white;
    top: 0;
    left: 0;
    z-index: 109;
    display: none;
}